* {
    box-sizing: border-box;
    font-family: Kumbh Sans;
    margin: 0;
}

:root {
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --regular-font-weight: 400;
    --strong-font-weight: 700;
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    /* border: 1px solid blue; */
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.75);
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

@media (min-width: 365px) {
    
    .container {
        max-width: 365px;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 10vw;
        padding: 1rem;
    }

    .nav-bar {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-bar > img {
        margin-right: 1rem;
    }
    
    .menu-panel {
        transform: translateX(-100%);
        flex-direction: column;
        position: fixed;
        left: 0;
        bottom: 0;
        background: var(--white);
        height: calc(100% - env(safe-area-inset-bottom));
        z-index: 10;
        width: 65%;
        padding: 1.6rem;
        transition: 200ms ease-in-out;
    }

    .menu-panel.active {
        transform: translateX(0);
        transition: 200ms ease-in-out;
    }

    ul {
        padding: 0;
    }

    #close-btn {
        width: 1rem;
        height: 1rem;
        margin-bottom: 2.3rem;
    }

    li {
        list-style: none;
        margin-bottom: 1.2rem;
    }

    a {
        text-decoration: none;
        color: var(--black);
        font-weight: var(--strong-font-weight);
        font-size: 1.2rem;
    }

    #menu-btn {
        height: 1.2rem;
        width: 1.2rem;
    }

    #logo {
        height: 1.2rem;
        width: 1.2rem;
    }

    #cart-btn {
        height: 1.5rem;
        width: 1.5rem;
        border: none;
        background: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
        position: relative;
    }

    #cart-quantity {
        display: none;
        background: var(--orange);
        color: white;
        font-size: .5rem;
        position: absolute;
        top: 0;
        right: 0;
        padding: .1rem .4rem .1rem .4rem;
        border-radius: 1rem;
    }

    #avatar-img {
        height: 1.5rem;
        width: 1.5rem;
    }

    .main {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .product-image-container {
        height: calc(35% - env(safe-area-inset-bottom));
        overflow: hidden;
        position: relative;
        margin-bottom: 1rem;
    }

    .product-image {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-image: url(./images/image-product-1.jpg);
        scale: 1.1;
    }
    
    .arrow-btn-container {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .arrow-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.4rem;
        height: 1.4rem;
        background: var(--white);
        border: none;
        border-radius: 50%;
        padding: 1.2rem;
    }

    .cart-panel {
        display: flex;
        flex-direction: column;
        position: absolute;
        background: var(--white);
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 1rem;
        padding: 1rem;
        overflow: hidden;
        height: 85%;
        scale: 0;

        box-shadow: 0 20px 20px -17px var(--dark-grayish-blue);
    }

    .cart-panel.active {
        scale: 1;
        transition: 200ms ease-in-out;
    }

    #cart-panel-heading {
        right: 0; 
        width: calc(100% + 3rem);
        margin-right: 0;
        transform: translateX(-1rem);
        border-bottom: .2px solid var(--grayish-blue);
        padding-left: 1rem;
        padding-bottom: 2rem;
        padding-top: .5rem;
    }

    #cart-panel-heading > span {
        font-weight: var(--strong-font-weight);
    }

    .cart-details {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    .cart-details > img {
        height: 4rem;
        width: 4rem;
        border-radius: .3rem;
    }

    .cart-details > button {
        background: none;
        border: none;
    }

    .cart-details > div > div {
        margin-top: 1rem;   
    }

    .cart-details span {
        color: var(--grayish-blue);
    }

    .cart-details-container {
        display: flex;
        flex-direction: column;
        padding-top: 1.3rem;
        height: 80%;
        justify-content: center;
    }

    #cart-empty{
        font-weight: var(--strong-font-weight);
        color: var(--dark-grayish-blue);
        align-self: center;
    }

    #product-total {
        font-weight: var(--strong-font-weight);
        color: var(--black);
    }

    .checkout-btn {
        background: var(--orange);
        font-weight: var(--strong-font-weight);
        color: var(--black);
        font-size: 1.2rem;
    }

    #title {
        text-transform: uppercase;
        font-weight: var(--strong-font-weight);
        color: var(--dark-grayish-blue);
        letter-spacing: 1.5px;
        font-size: .8rem;
    }

    h1 {
        margin-top: 1rem;
        font-size: 2rem;
    }

    p {
        color: var(--grayish-blue);
        font-size: 16px;
        margin-top: 1rem;
        letter-spacing: .5px;
        margin-bottom: 1.5rem;
    }

    .price-box {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5rem;
    }

    .price-box > div {
        display: flex;
    }

    #current-price {
        font-size: 1.8rem;
        font-weight: var(--strong-font-weight);
        letter-spacing: 1px;
    }

    #discount-percentage {
        background: var(--black);
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--white);
        height: max-content;
        padding-top: .2rem;
        padding-right: .5rem;
        padding-left: .5rem;
        padding-bottom: .2rem;
        margin-left: .7rem;
        border-radius: .3rem;
        align-self: center;
    }

    #discount-percentage > span {
        font-weight: var(--strong-font-weight);
    }

    #old-price {
        text-decoration: line-through;
        color: var(--dark-grayish-blue);
        font-weight: var(--strong-font-weight);
        align-self: center;
        font-size: 1.1rem;
    }

    .quantity-box {
        display: flex;
        justify-content: space-between;
        background: var(--light-grayish-blue);
        padding: 1.2rem;
        border-radius: .3rem;
        margin-bottom: 1rem;
    }

    .quantity-btn {
        background: none;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #item-quantity {
        font-weight: var(--strong-font-weight);
    }

    .btn {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        border-radius: .6rem;
        border: none;
    }

    .add-to-cart {
        background: var(--orange);
        color: var(--black);
        font-weight: var(--strong-font-weight);
        font-size: 1rem;
    }

    .add-to-cart > img {
        margin-right: 1rem;
        
    }
}

@media (min-width: 475px) {
    
    .container {
        max-width: 475px;
    }
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}


 

 
